<img width="40%" src="{{boardGame.imageUrl}}" />
<h4>{{boardGame.title}}</h4>
<p>Type: {{boardGame.type}} </p>
<p>Players: {{boardGame.minPlayers}} - {{boardGame.maxPlayers}}</p>
<p>
  Notes: <textarea type="text" [disabled]="notesDisabled" placeholder="Notes"
    [(ngModel)]="boardGame.notes"></textarea>
  <button mat-mini-fab color="primary" *ngIf="notesDisabled" (click)="notesDisabled = !notesDisabled">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-mini-fab color="primary" *ngIf="!notesDisabled" (click)="notesDisabled = !notesDisabled">
      <mat-icon>save</mat-icon>
  </button>
</p>

<button mat-fab color="warn" (click)="delete()">
  <mat-icon>delete</mat-icon>
</button>
