<div class="flex">
  <img width="50%" src="{{boardGame?.imageUrl}}" />
  <div [hidden]="hideButtons">
    <div>
      <a [routerLink]="['/', 'boardgames', boardGame?.id, 'edit']">
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </a>
    </div>
    <div>
      <button mat-icon-button color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<h4>{{boardGame.title}}</h4>
<p>Players: {{boardGame.minPlayers}} - {{boardGame.maxPlayers}}</p>
<p>  Notes: {{boardGame.notes}}</p>
